{% extends 'base.html.twig' %}

{% block title %}Edit Workshops{% endblock %}

{% block body %}
    <h1>Edit Workshops</h1>

    {{ include('workshops/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('workshops_index') }}">back to list</a>

    {{ include('workshops/_delete_form.html.twig') }}
{% endblock %}
