{% extends 'base.html.twig' %}

{% block title %}New SignIn{% endblock %}

{% block body %}
    <h1>Create new SignIn</h1>

    {{ include('signin/_form.html.twig') }}

    <a href="{{ path('signin_index') }}">back to list</a>
{% endblock %}
